<!DOCTYPE html>

<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="index.css" />
  <title>Self-introduction</title>
</head>

<body>
<main>
  <script>
    function resize() {
      let innerWidth = window.innerWidth;
      let innerHeight = window.innerHeight;

      const main = document.querySelector('main');

      let mainWidth = main.offsetWidth;
      let mainHeight = main.offsetHeight;

      let widthDiff = innerWidth - mainWidth;
      let heightDiff = innerHeight - mainHeight;

      main.style.position = "absolute";

      if (widthDiff > 0) {
        main.style.left = '' + widthDiff / 2 + 'px';
      } else {
        main.style.left = '0px';
      }
      if (heightDiff > 0) {
        main.style.top = '' + heightDiff / 2 + 'px';
      } else {
        main.style.top = '0px';
      }
    }

    resize();
    window.onresize = function () {resize();}
  </script>

  <div id="left_box">
    <div id="picture">
      <img src="main.jpg" alt="Your Picture">
    </div>
    <div id="self_introduction">
                    <textarea name="self_introduction"
                              readonly>Undergraduate Student of Dankook Univ. - Member of Networked Systems and Security Lab (BoanLab)</textarea>
    </div>
  </div>
  <div id="middle_box">
    <div class="subtitle">
      <p>Profile</p>
    </div>
    <div id="profile">
      <table>
        <tr>
          <td class="profile_first_cell">Name.</td>
          <td class="profile_second_cell">Hohyeon Cha</td>
        </tr>
        <tr>
          <td class="profile_first_cell">Field.</td>
          <td class="profile_second_cell">System Infrastructure, Cloud Native, Cloud Security</td>
        </tr>
        <tr>
          <td class="profile_first_cell">Education.</td>
          <td class="profile_second_cell">Dept. of Mobile Sys. Eng., Dankook Univ.</td>
        </tr>
        <tr>
          <td class="profile_first_cell">E-mail.</td>
          <td class="profile_second_cell">outcider112(AT)dankook.ac.kr</td>
        </tr>
      </table>
    </div>
    <div class="subtitle">
      <p>Work Experience</p>
    </div>
    <div id="work_experience">
      <table>
        <tr>
          <td class="work_first_cell">NW Sys. & Security Lab(a.k.a Boanlab)</td>
          <td class="work_second_cell">Undergraduate Student Researcher <a href="https://boanlab.com">[LINK]</a></td>
        </tr>
        <tr>
          <td class="work_first_cell">Further Revealed</td>
          <td class="work_second_cell">TBD</td>
        </tr>
        <tr>
      </table>
    </div>
    <div class="subtitle">
      <p>Research Records & outlink</p>
    </div>
    <div id="award">
      <table>
        <tr>
          <td class="award_first_cell">Crypto-Agility</td>
          <td class="award_second_cell">TBD with Paper</td>
        </tr>
        <tr>
          <td class="award_first_cell">Github</td>
          <td class="award_second_cell"><a href="https://github.com/HOchacha">HOchacha</a></td>
        </tr>
        <tr>
          <td class="award_first_cell">Instagram</td>
          <td class="award_second_cell"><a href="https://www.instagram.com/ho.chacha_/">ho.chacha_</a></td>
        </tr>
        <tr>
          <td class="award_first_cell">Notion</td>
          <td class="award_second_cell"><a href="https://hochacha.notion.site/">personal study notes</a></td>
        </tr>
      </table>
    </div>
  </div>
  <div id="right_box">
    <p>HOchacha / GEEK </p>
  </div>
</main>
</body>

</html>